In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("nlp-getting-started/train.csv")
#data = data.dropna()
data.reset_index()

,index,id,keyword,location,text,target
0,0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...,...
7608,7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
x = data.drop(['target'], axis=1)

In [4]:
y = data['target']

In [5]:
import tensorflow as tf
from tensorflow.keras.layers import Embedding
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import one_hot

In [6]:
voc_size = 5000

In [7]:
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('wordnet')

In [26]:
tweets =  x.copy()
tweets.reset_index(inplace=True)



ps = WordNetLemmatizer()

corpus = []
for i in range(0, len(tweets)):
    review = re.sub('[^a-zA-Z]', ' ', tweets['text'][i])
    review = review.lower()
    review = review.replace('ablaze', '')
    review = review.split()
    
    review = [ps.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)
    
one_hot_represent = [one_hot(words, voc_size) for words in corpus]
sent_length = 20

embedded_docs = pad_sequences(one_hot_represent, padding='pre', maxlen=sent_length)

import numpy as np
x_final = np.array(embedded_docs)

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/vikaspuri/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/vikaspuri/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [36]:
from tensorflow.keras.layers import Dropout
embedded_vector_features  = 40
model = Sequential()
model.add(Embedding(voc_size,embedded_vector_features, input_length = sent_length))
model.add(Dropout(0.2))
model.add(LSTM(200))
model.add(Dropout(0.2))
model.add(Dense(1, activation = 'sigmoid'))
model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics = ['accuracy'])
print(model.summary())

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding_2 (Embedding)      (None, 20, 40)            200000
_________________________________________________________________
dropout_4 (Dropout)          (None, 20, 40)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 200)               192800
_________________________________________________________________
dropout_5 (Dropout)          (None, 200)               0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 201
=================================================================
Total params: 393,001
Trainable params: 393,001
Non-trainable params: 0
_________________________________________________________________
None

In [37]:
import numpy as np
y_final = np.array(y)

In [38]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test = train_test_split(x_final, y_final, test_size = 0.20, random_state = 20)

In [46]:
model.fit(x_train, y_train, validation_data = (x_test,y_test), epochs=10, batch_size= 40)

Train on 6090 samples, validate on 1523 samples
Epoch 1/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.2525 - accuracy: 0.9161 - val_loss: 0.2424 - val_accuracy: 0.9100
Epoch 2/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.1321 - accuracy: 0.9594 - val_loss: 0.3582 - val_accuracy: 0.8733
Epoch 3/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.0886 - accuracy: 0.9722 - val_loss: 0.3634 - val_accuracy: 0.8792
Epoch 4/10
6090/6090 [==============================] - 13s 2ms/sample - loss: 0.0645 - accuracy: 0.9811 - val_loss: 0.4494 - val_accuracy: 0.8588
Epoch 5/10
6090/6090 [==============================] - 12s 2ms/sample - loss: 0.0553 - accuracy: 0.9841 - val_loss: 0.4623 - val_accuracy: 0.8621
Epoch 6/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.0461 - accuracy: 0.9869 - val_loss: 0.5212 - val_accuracy: 0.8437
Epoch 7/10
6090/6090 [==============================] - 13s 2ms/sample - loss: 0.0426 - accuracy: 0.9888 - val_loss: 0.6008 - val_accuracy: 0.8523
Epoch 8/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.0321 - accuracy: 0.9916 - val_loss: 0.6370 - val_accuracy: 0.8339
Epoch 9/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.0272 - accuracy: 0.9910 - val_loss: 0.7861 - val_accuracy: 0.8470
Epoch 10/10
6090/6090 [==============================] - 11s 2ms/sample - loss: 0.0303 - accuracy: 0.9910 - val_loss: 0.7136 - val_accuracy: 0.8260

In [47]:
y_pred = model.predict_classes(x_test)

In [48]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [49]:
confusion_matrix(y_test, y_pred)

array([[747, 129],
       [136, 511]])

In [50]:
accuracy_score(y_test, y_pred)

0.8260013131976363

In [51]:
testcsv = pd.read_csv("nlp-getting-started/test.csv")

In [52]:
testcsv

,id,keyword,location,text
0,0,NaN,NaN,Just happened a terrible car crash
1,2,NaN,NaN,"Heard about #earthquake is different cities, s..."
2,3,NaN,NaN,"there is a forest fire at spot pond, geese are..."
3,9,NaN,NaN,Apocalypse lighting. #Spokane #wildfires
4,11,NaN,NaN,Typhoon Soudelor kills 28 in China and Taiwan
...,...,...,...,...
3258,10861,NaN,NaN,EARTHQUAKE SAFETY LOS ANGELES ÛÒ SAFETY FASTE...
3259,10865,NaN,NaN,Storm in RI worse than last hurricane. My city...
3260,10868,NaN,NaN,Green Line derailment in Chicago http://t.co/U...
3261,10874,NaN,NaN,MEG issues Hazardous Weather Outlook (HWO) htt...
3262,10875,NaN,NaN,#CityofCalgary has activated its Municipal Eme...

In [53]:
#testcsv = testcsv.dropna()

In [54]:
tweets =  testcsv.copy()
tweets.reset_index(inplace=True)
ps = WordNetLemmatizer()

corpus = []
for i in range(0, len(tweets)):
    review = re.sub('[^a-zA-Z]', ' ', tweets['text'][i])
    review = review.lower()
    #review = review.replace('ablaze', '')
    review = review.split()
    
    review = [ps.lemmatize(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)
    
one_hot_represent = [one_hot(words, voc_size) for words in corpus]
sent_length = 20

embedded_docs = pad_sequences(one_hot_represent, padding='pre', maxlen=sent_length)

import numpy as np
x_final = np.array(embedded_docs)

In [55]:
y_pred = model.predict_classes(x_final)

In [56]:
final  = pd.DataFrame(data=y_pred, columns=["target"])
#final = testcsv + final

In [57]:
#final = testcsv['id'] final['target']
testcsv['target'] = y_pred
testcsv = testcsv.drop(['keyword', 'location', 'text'], axis=1)
testcsv

         id  target
0         0       1
1         2       1
2         3       0
3         9       0
4        11       1
...     ...     ...
3258  10861       0
3259  10865       1
3260  10868       1
3261  10874       1
3262  10875       1

[3263 rows x 2 columns]

In [58]:
testcsv.to_csv ('/Users/vikaspuri/ArtificialIntelligence/MachineLearningApplications/DisasterTweets/result.csv', 
               index = False, header=True)